@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('woff2 supports variations'),
    url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 500 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --colors-blue-50: hsl(210, 60%, 98%);
  --colors-blue-100: hsl(211, 68%, 94%);
  --colors-blue-150: hsl(205, 33%, 90%);
  --colors-blue-700: hsl(219, 85%, 26%);
  --colors-grayish-blue-300: hsl(219, 14%, 63%);
  --colors-grayish-blue-500: hsl(219, 12%, 42%);
  --colors-dark-blue-700: hsl(224, 21%, 14%);
  --colors-white: hsl(0, 0%, 100%);
  --colors-red: hsl(1, 90%, 64%);
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--colors-blue-50);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-block: 2rem;
}

.content {
  background-color: var(--colors-white);
  border-radius: 1.25rem;
  width: min(95%, 725px);
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 250ms;
  box-shadow: 0 0 50px var(--colors-blue-150);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}

.header__title {
  font-weight: 800;
  font-size: 1.563rem;
}

.header__count {
  background-color: var(--colors-blue-700);
  display: inline-block;
  color: var(--colors-white);
  padding-inline: 0.6rem;
  border-radius: 0.4rem;
  font-size: 1.25rem;
  margin-left: 0.6rem;
}

.header__btn {
  color: var(--colors-dark-blue-700);
  border: none;
  background-color: transparent;
  font-size: 1rem;
  transition: 350ms ease-in-out background;
}

.header__btn:hover {
  cursor: pointer;
  color: var(--colors-blue-700);
}

@media screen and (max-width: 525px) {
  .container {
    margin-block: 0;
  }

  .content {
    width: min(100%);
    padding: 0 1rem;
    border-radius: 0px;
  }

  .header__title {
    font-size: 1.25rem;
  }

  .header__count {
    font-size: 1rem;
    padding-inline: .5rem;
  }

  .notification__avatar {
    width: 40px;
    height: 40px;
  }
}